.cabecalhoAg h1{
    /* border: solid red; */
    margin: 5vh 0 6vh 20%;
}

.table {
    margin-left: 20%;
    width: 75% !important;
    background-origin: border-box;
}

.filtroAg {
    margin: 5vh 5% 2vh 20%;
}

.btnAg {
    position: fixed ;
    margin-top: 3.4vh;
}