.tabela {
    padding-top: 2%;
    padding-left: 20%;
    display: flex;
}

/* --------------------------- Header --------------------------- */

#navAgend {
    margin-top: 5vh;
    margin-left: 14vw;
    margin-bottom: 5vh;
    width: 85vw;
    height: 15vh;
    background-color: #0C1674;
    color: white;
    font-size: 2em;
    font-family: Ubuntu;
    text-align: center;
    line-height: 14vh;
    border-radius: 20px;
}

.cabecalhoAg h1{
    /* border: solid red; */
    margin: 5vh 0 6vh 14vw;
}

.table {
    margin-left: 14vw;
    width: 85vw !important;
    background-origin: border-box;
}

.btn {
    margin-top: 3vh;
}

.filtroAg {
    margin: 5vh 0 2vh 14vw;
}