
.inicio{
    display: flex;
    height: 10vh;
    align-items: center;
    margin-left: 42vw;
    font-size: 3rem;
  }
  .carouselInicio{
    /* border: solid red; */
    height: 70vh;
    margin: 0px 3% 0px 15%;
    overflow: hidden;
    border-radius: 15px;
  }

  .img1, .img2 , .img3{
    height: 70vh;
    width: 100%;

  }

  .h3Inicio{

  }

  .pInicio{

  }

  .spam1{
    color: #f1d06c;
  }

  .spam2{
    color: #0c166f;
  }