@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body {
    background-color: #0C1674;
}

input,
button {
    font: 400 16px Mulish, sans-serif;
}

button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    color: #fff;
    background-color: #5223AD;
    border: none;
}

button:hover {
    background-color: #7442d8;
}

a {
    font-size: 12px;
    color: rgb(148, 146, 146);
    padding: 0 10px;
    text-decoration: none;
}

form .inputLogin {
    width: 100%;
    height: 40px;
    border: 2px solid #ececee;
    border-radius: 8px;
    padding: 0 24px;
}

.form img {
    width: 250px;
    margin: -5% 12%;
}

.logon-container {
    background-color: #fff;
    width: 25%;
    height: 550px;
    margin: 82px auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logon-container section.form {
    max-width: 350px;
}

.logon-container section.form form {
    margin-top: 10px;
}

.logon-container section.form form input {
    font-size: 12px;
    margin-bottom: 20px;
    padding-left: 8px;
    border-radius: 6px;
}

label{
    color: #9FA2B4;
    font: 12px Mulish, sans-serif;
    margin-left: 6px;
}

h1{
    font: Mulish, sans-serif;
    margin-left: 140px;
    margin-top: -20px;
}

p{
    color: #9FA2B4;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
}

